html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

.main_background {
    background-color: #f0f0f0;
}

.constructor {
    background-color: white;
    color: black;
    position: relative;
    max-width: 740px;
    min-height: 100%;
    margin: 0 auto;
    margin-top: 20px;
    font-family: 'Georgia';
    box-sizing: border-box;
    padding: 36px;
    line-height: 24px;
    display: block;
}


.tm-header {
    height: 50px;
    background-color: #424242;
}

.block {

    width: 40%;
    height: 400px;
    background-color: #f5f5f5;
    margin-right: 40px;
    display: inline-block;
    box-sizing: border-box;/* не включает внешние отступы*/
    padding: 20px 45px 20px 45px;
    vertical-align:top; /* выравнивает по горизонтали*/
}